@charset "UTF-8";
*{
	margin : 0 auto;
}
#wrap{
	width: 1920px;
	height: 1080px;
	background-color:#bcbcbc7d;
	
}

#content{
	display: flex;
	flex-direction : column;
	align-items : flex-start;
	justify-content: center;
}

h3{
	margin-bottom: 30px;
	width: 500px;
	padding: 0 ;
	align-items: center;	
	text-align: center;
	padding-top : 30px;
}

.addtable{
	margin-top : 50px;
	width:50%;
    border-collapse: collapse;
    display: flex;
}
.addhead{
	padding: 0px;
	margin-bottom: 0px; 
}
.addhead > tr{
	width : 300px;
	margin-right: 0;
	height: 30px;
}
.addbody > tr{
	width : 300px;
	margin-left: 0px;
	height: 30px;
}
th,td {
	line-height: normal;
	font-size: 16px;
}
.addBtn{
	display : flex;
	width : 50%;
	border : 1px soild black;
	height: 0%;
}
input{
	width: 300px;
}
