@charset "UTF-8";
*{
	border: 1px solid red;
	margin:  0 auto;
	width: 1920px;
}

#headerWrap{
	background-color: blue;
	color:  white;
}
.headerContent{
	background-color: skyblue;
	color:  white;
	display: flex;
	
}

li{
	display : flex;
	display : inline-block;
	justify-content: center;
	margin-right: 7%;
}