@charset "UTF-8";
*{
	margin:  0 auto;
	width: 1920px;
}

#headerWrap{
	background-color: blue;
	color:  white;
	margin:  0px;
	
}
.headerContent{
	background-color: skyblue;
	color:  white;
	display: flex;
	
}
#headerTitle{
	background-color:  blue;
}


li{
	display : flex;
	display : inline-block;
	justify-content: center;
	margin-right: 7%;
}