@charset "UTF-8";
.mimgbox > .mimg{
	width: 200px;
	height: 200px;
	border-radius: 50px;
	border: 1px soild #e8e8e8;
	padding: 5px;
	object-fit : cover;
}
.mimgbox{
	text-align: center;
}
#wrap{
	display:  flex;;
}